/*
font-family: 'Uni Neue';
font-family: 'Uni Neue Book';
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Uni Neue', sans-serif;
}

.header {
    height: 800px;
    background-color: #EEF9FF;
}

.nav {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.container {
    width: 1260px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    position: relative;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    color: #363636;
    padding-right: 27px;
}

.logo-title::after {
    position: absolute;
    right: 0;
    top: 1px;
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background-color: #DDDDDD;
}

.logo-slogan {
    padding-left: 27px;
    font-size: 12px;
    line-height: 1.17;
    color: #4B5455;
    width: 160px;
    font-family: 'Uni Neue Book', sans-serif;
}

.top-nav {

}

.top-nav-link {
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #363636;
    text-decoration: none;
    margin-right: 48px;
    transition: color 0.2s;
}

.top-nav-link:last-child {
    margin-right: 0;
}

.top-nav-link:hover {
    color: #69B0AC;
}

/* header content */

.header-content {
    width: 691px;
}

.header-title span{
    font-size: 82px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Uni Neue Book', sans-serif;
    color: #363636;
}

.header-title {
    font-size: 82px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: left;
    color: #69B0AC;
    margin-bottom: 27px;
}

.header-text {
    width: 440px;
    margin-bottom: 40px;
}

.header-text p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #7C7C7C;
}

.header-list {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #363636;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.header-list b{
    font-weight: 700;
}

.header-list-item {
    margin-bottom: 18px;
    position: relative;
    padding-left: 40px;
    font-weight: 400;
}

.header-list-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    left: 0;
    top: 1px;
    background-image: url("../src/img/bullet.svg");
}